@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-primary-hover: #902be0;
  --color-dark: #08060d;
  --color-dark-muted: #16171d;
  --color-light: #ffffff;
  --color-light-muted: #f4f3ec;
}

@layer base {
  :root {
    font-family: 'Inter', 'Outfit', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-dark);
    background-color: var(--color-light);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: #f8fafc; /* Slate-50 */
  }
}
